---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Icon } from 'astro-icon'
import {
  Accordion,
  AccordionItem,
  Breadcrumbs,
  BreadcrumbsItem,
  Card,
  Media,
  Modal,
  Notification,
  Pagination,
} from 'accessible-astro-components'
---

<DefaultLayout title="Informatica">
  <section class="my-12">
    <div class="space-content container">
      <h1>Informatica</h1>
      <p class="text-2xl">
        Optimizar el tratamiento de la información mediante el procesamiento automático, 
        utilizando lenguajes de programación, bases de datos, herramientas ofimáticas, redes 
        informáticas, herramientas web, sistemas operativos y soporte técnico; proponiendo 
        soluciones creativas e innovadoras que respondan a los requerimientos de los usuarios, 
        aplicando procedimientos y metodologías informáticas vigentes.
      </p>
    </div>
  </section>
  <section class="mb-12 mt-32">
    <div class="container">
      <div class="grid grid-cols-1 gap-32 md:grid-cols-2">
        <div class="space-content">
          <h2>Materias</h2>
          <Accordion>
            <AccordionItem header="Aplicaciones Ofimaticas locales y en Linea">
              <p>
                Procesar información de diferente tipo, utilizando técnicamente las herramientas ofimáticas locales y/o en línea según los requerimientos 
                establecidos por el usuario.
              </p>
            </AccordionItem>
            <AccordionItem header="Sistemas Operativos y Redes">
              <p>
                Implantar y mantener sistemas operativos y en red, utilizando de manera óptima los recursos físicos y lógicos para lograr una comunicación 
                eficiente, considerando las normas y estándares vigentes.
              </p>
            </AccordionItem>
            <AccordionItem header="Programacion y Base de Datos">
              <p>
                Desarrollar sistemas informáticos con lenguajes de programación y base de datos, aplicando diferentes metodologías según los requerimientos 
                de funcionalidad.
              </p>
            </AccordionItem>
            <AccordionItem header="Soporte Tecnico">
              <p>
                Ejecutar procesos de soporte técnico en equipos informáticos, mediante la aplicación de normas y procedimientos recomendados para 
                propiciar el óptimo rendimiento de los mismos.
              </p>
            </AccordionItem>
            <AccordionItem header="Diseño y Desarrollo Web">
              <p>
                Diseñar y construir soluciones web de nivel intermedio con interfaz amigable, empleando herramientas multimedia que permitan promocionar 
                la información e imagen de una organización y/o cliente.
              </p>
            </AccordionItem>
          </Accordion>
        </div>
        <div class="space-content">
        </div>
        <div class="space-content">
          <h2></h2>
          <Card
            img="https://i.eldiario.com.ec/fotos-manabi-ecuador/2017/04/20170425040000_cuatro-colegios-se-estrenaron.jpg"
          />
        </div>
        <div class="space-content">
          <h2>Logo</h2>
          <Media
            class="rounded-lg"
            src="https://lh6.googleusercontent.com/-BPGuPesqAAA/AAAAAAAAAAI/AAAAAAAAABE/SBFBl3yXSf8/w800-h800/photo.jpg"
          />
        </div>
        <div class="space-content">
          <h2>Modales</h2>
          <button id="modal1-trigger" class="button">Frase</button>&nbsp;
          <button id="modal2-trigger" class="button color-secondary">Frase 2</button>
          <Modal triggerId="modal1-trigger" title="Frase">
            <p> El camino al <strong>Exito</strong> es la Actitud.</p>
          </Modal>
          <Modal triggerId="modal2-trigger" title="Frase 2" closeText="Close">
            <p>
              Una de las claves para progresar en los <strong>estudios</strong> es tener claro que se tiene la capacidad de aprender 
              lo que en un principio parece difícil.
            </p>
          </Modal>
        </div>
        <div class="space-content">
          <h2>Informacion</h2>
          <Notification>
            <Icon pack="ion" name="notifications-outline" /><p><strong>Mensaje:</strong> Dedicate a Estudiar</p>
          </Notification>
          <Notification type="info">
            <Icon pack="ion" name="information-circle-outline" /><p>
              <strong>Info:</strong> 0959856132.
            </p>
          </Notification>
          <Notification type="success">
            <Icon pack="ion" name="checkbox-outline" /><p>
              <strong>Correo:</strong> uealessandrovolta.edu.ec
            </p>
          </Notification>
          <Notification type="warning">
            <Icon pack="ion" name="warning-outline" /><p>
              <strong>Aviso:</strong> Obten tu cupo ahora!
            </p>
          </Notification>
          <Notification type="error">
            <Icon pack="ion" name="alert-circle-outline" /><p>
              <strong>Error:</strong> No dañar los Aparatos Electronicos.
            </p>
          </Notification>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>
