---
import PokemonCard from '../components/PokemonCard.astro'


const response = await fetch ("http://pokeapi.co/api/v2/pokemon?limit=28")
 .then((res) => res.json());

 const pokemons = response.results.map((data, index) =>{
  return {
    name: data.name,
    id: index + 1,
    image: `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${index +1}.png`, 
  }
 });
 console.log (pokemons);
---

<DefaultLayout title="Home">
  <Hero />
      <main class="grid md:grid-cols-4 grid-cols-2 gap-4 p-2">
        {pokemons.map((pokemon) =>
          <PokemonCard {pokemon} />
        )}
      </main>