---
    let { pokemon } = Astro.props
---
<a href=""
       class="flex flex-col w-full items-center border-gray-500 border rounded rounded-2xl hover:bg-blue-200 cursor-pointer " >

    <img
    class="w-28"
    src={pokemon.image}
/>    
<h4> { pokemon.name }</h4>
</a> 
<!-- Cedeño Ariana, Guerrero Daleska, Intriago Melanie, Vargas Andy -->
